<div class="animated fadeIn container">
  <div class="mt-2 ">
       <i [routerLink]="[ '/']" class="fas fa-chevron-circle-left fa-2x"></i>
  </div> 
  <form  class="margin-bottom-0">
  <div class="card card-profile text-center">
    <img class="card-img-top" src="https://unsplash.it/340/160?image=354" alt="Card image cap">
    <div class="card-body">
        <img class="card-img-profile" [src]="_userService.user.img" alt="">
        <h5 class="card-title">{{_userService.user.nickname}}</h5>
      <p class="card-text">{{_userService.user.email}}</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Cambia Imatge
        </button>
    </div>
  </div>
</form>
   </div>
  
  