<div id="sidebar" class="sidebar">
  <div>
  

      <div class="list">
          <ul class="nav">
              <li class="nav-profile">
                  <div class="cover with-shadow"></div>
                  <div class="image">
                    <img src="assets/images/profile.png" alt="" />
                  </div>
                  <div class="info">
                    <b class="caret pull-right"></b>
                    {{user.nickname}}
                    <b class="caret pull-right"></b><br>
                    {{user.email}}  
                    <i (click)="_userService.logout()" class="fas fa-sign-out-alt float-right"></i>
                
                  </div>
              </li>

              <li class="nav-chats" *ngFor="let chat of chats">
              
                <app-chat-item (chatSelected)="getIdChatSelected($event)"  (nicknameNavbar)="nameNavbar($event)" [user]=chat.users[0] [idChat]=chat.id></app-chat-item>
                
              </li>
              
        </ul>
      </div>
    
  
  </div>
</div>

<div class="content">
    <app-navbar [nickname] = nickanameNavbar></app-navbar>
    <app-chat [idChat]=chatIdSelected></app-chat>
</div>